body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
   
    text-decoration: none;
}
li{
    
    text-decoration: none;
   
}
h1{
    text-align: center;
    margin-top: 0;
}
